# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\my_idea_java\test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
